*.[oa]
Sandbox
doxydocs
.project
.cproject
.settings
.dep
*.pyc
.pydevproject
psas-stm-xcompiler-amd64-0.1/.build/
psas-stm-xcompiler-amd64-0.1/.config
psas-stm-xcompiler-amd64-0.1/.config.2
psas-stm-xcompiler-amd64-0.1/build.log
psas-stm-xcompiler-amd64-0.1/config
psas-stm-xcompiler-amd64-0.1/config.gen/
psas-stm-xcompiler-amd64-0.1/tarballs/
psas-stm-xcompiler-amd64-0.1/x-tools.tgz
psas-stm-xcompiler-amd64-0.1/x-tools/
xtool-notes/config
xtool-notes/config.gen/
xtool-notes/crosstool-ng-1.17.0.tar.bz2
xtool-notes/crosstool-ng-1.17.0.tar.bz2.sha512
xtool-notes/crosstool-ng-1.17.0/
xtool-notes/crosstool-ng-1.18.0.tar.bz2
xtool-notes/crosstool-ng-1.18.0.tar.bz2.sha512
xtool-notes/crosstool-ng-1.18.0/
xtool-notes/openocd-0.6.1.tar.gz
tagit.bash
tags
cscope.*
chib_filter.awk
.clang_complete
projects/*/build/
*~
