Source: psas-stm-xcompiler-amd64
Maintainer: PSAS Avionics <psas-info@psas.pdx.edu>
Section: misc
Priority: optional
Homepage: http://psas.pdx.edu
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8)

Package: psas-stm-xcompiler-amd64
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Files to build PSAS ARM cross compiler tools
 PSAS stm32f407 cross compiler
