#Olimex ARM-USB-OCD
SUBSYSTEM=="usb", ATTRS{idVendor}=="15ba", ATTRS{idProduct}=="0003", MODE="0666"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="15ba", ATTRS{idProduct}=="0003", MODE="0666"
#ST-LINK V2
SUBSYSTEM=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="3748", MODE="0666"
